.i{ 
    display: none;
    padding:15px;
    @media screen and (min-width: 900px){
       display: block;
    }


    margin-top: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;

    .mindtext{
        padding-bottom:15px;
        border-bottom: 1px solid #e9eff5;
        display:grid;
        grid-template-columns: 10% 90%;


        img{
            width: 40px;
            height: 40px;
            border-radius:50%;
            object-fit: cover;
        }

        input{
            outline: none;
            text-align: start;
            height: 20px;
            background-color: #e9eff5; 
            color: #000000; 
            padding: 8px; 
            border: none;
            border-radius: 30px;
        } 


    }

    .mindbutton{
        display:flex;
        justify-content: space-around;

        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:10px;
        }

        p{
            font-weight: 600;
            color: #696262;
        }

        i{
            font-size: 25px;
        }

        .feeling{
            color: #eeb416;
            
        }
        .photo{
            color: #09ad48;
        }
        .live{
            color: #f52f50;
        }
    }
}
