.postBox{
    margin-top: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    i{
        color:#a4a5a7;
    }

    .headpost{
        
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;

        .poststatus{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        i{
            font-size: 2rem;
        }
        .border{
            width: 40px;
            height: 40px;
            align-items: center;
            background-color: #ffffff;
            border: 3px solid #0b16b1;
            border-radius: 50%;
            display:flex;
            align-items: center;
            justify-content: center;
            img{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
        }
        
            
    }
    }

   
    .boxpost{
        height: 469px;
        img{
           width: 100%; 
           height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    .textpost{
        padding: 8px;
        overflow: hidden;
        word-wrap: break-word;
        span{
            color: #a4a5a7;
        }
    }
    .buttonpost{
        padding-top: 5px;
        margin-bottom: 5px;
        .layout-emoji{
            display: flex;
            margin: 5px 0;
            .emoji{  
                 img{      
                        width: 20px;
                        height: auto;
                        }
                }

        }
        
        .community{
            display: flex;
            justify-content: space-around;
            p{
                padding-right: 20px;
        }
        }

        
        
        .community{
                @media screen and (min-width: 900px){
                   border-top: 1px solid #c0c3c5;

                   span{
                    display: none;
                   }
                   
                   
                }
                p{
                    display: none;
                    font-weight: 600;
                    text-align: center;
                    color: #746969;
                   }
               
            .con{ 

                @media screen and (min-width: 900px){
                   background-color:#ffffff; 
                   p{
                     display:block;
                   }
                }
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:#e9eff5;
                padding: 5px;
                width: 28%;
                height: 25px;
                border-radius: 60px;
                margin-bottom: 5px;
               
                i{
                    /* position: absolute; */
                    margin-top: 5px;
                    margin-right: 5px;
                    /* border: 1px solid red; */
                    font-size: 1.5rem;
                    color: #746969;
                }
                
            }
            
        }
    }
}


                  
        
        
