.layoutnav{
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 900px) {
    .layout1{
      display: none;
    }
    .layout2{
      display: block;
    }

}
}

.layout2{
  display: none;
  background-color: #ffffff;
  
  
  .flex{
    padding: 0 15px;
    height: 56px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    .logo{
      
      /* width: 320px; */
        display: flex;
        gap:5px;
        align-items: center;
        justify-content: start;

        .input{
        display: flex;
        align-items: center;
        background-color: #e9eff5; 
        border-radius:  30px;

       i{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #818080; 
        border-radius: 50%;
        width: 40px;
        height: 40px;

       }
        input{
          @media screen and (min-width: 1260px){
          display: block;
        }
        display: none;
        font-size: 1rem;
        text-align: start;
         width: 212px;
        height: 40px;
        background-color: #e9eff5; 
        color: #000000; 
        border: none;
        outline: none;
        border-radius: 30px;
        }    
    }
      img{
        width: 40px;
        height: 40px;
        margin-right: 5px;
      }
    }

    .manu{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .active{
        height: 100%;
        border-bottom: 3px solid #0866FF;
        .iblue{
          color: #0866FF;
        }
      }

      .icon{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 112px;
        i{
          font-size: 2rem;
          color: #818080;
          
        }
      }
      
    }

    .profile{
      
      display:flex;
      align-items: center;
      justify-content: end;
      gap: 5px;
      .box-icon{  
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
     background-color:#e9eff5;
     position: relative;
   
     i{
      color: #000000;
      font-size: 20px;
     }
    p{
        font-weight: bold;
        font-size: 12px;
        color:#ffffff;
        position: absolute;
        right: -5px;
        top:-18px;
        width: 12px;
        height: 12px;
        background-color:#e40808;
        border-radius: 50%;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }

       .user{
           

           img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
           }
       }
    }
    
  }
}


.layout1{


 margin-top: -10px;
  
  background-color: #ffffff;
  .topNav{
    display:flex;
    justify-content:space-between;
    align-items: center;
  }

  .logo{
      
   img{
    margin-left: 10px;
    /* display:none; */
    width:30%;
    height: 30%;
   }
     
  }
 

  .nav-topleft{
    display:flex;
    ;
 
     .iconNav{
      margin: 5px 0;
      border: 9px solid #e9eff5;
      margin-right: 0.5rem;
      background-color:#e9eff5;
      border-radius:50%;
      font-size:1.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

.menu{
  display:flex;
  justify-content: space-around;
  i{
    font-size: 1.5rem;
    font-stretch: ultra-condensed;

   }
 
  .home{
    color:rgb(0, 110, 255);
    
    position: relative;
    p{
        position: absolute;
        right: -1px;
        top:-14px;
        width: 13px;
        height: 13px;
        background-color:red;
        border-radius: 50%;
    }
  }

  .box-icon{
     position: relative;
    p{
        font-weight: bold;
        font-size: 12px;
        color:#ffffff;
        position: absolute;
        right: -8px;
        top:-18px;
        width: 12px;
        height: 12px;
        background-color:red;
        border-radius: 50%;
        border: 2px solid #ffffff;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
  
}  
}




