/* .size{
    
    

} */


.size{

   
.layoutmain{ 
    
   .contentmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
    .contentlift{
      display: none;
    }
    .contentright{
      display: none;
    }

   

   
}
 @media screen and (min-width: 1060px) {

    .layoutmain{
    display: grid;
    grid-template-columns: auto 30% auto;
.contentlift{
      display: block;
      border: 1px solid red;

    }
    .contentright{
      display: block;
      border: 1px solid red;
    }
    }
    

}
}

